@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("root.css");

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: var(--base_font_color);
    text-decoration: none;
    list-style: none;
    border: none;
    font-weight: normal;
    border-spacing: 0;
    text-indent: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;

    display: flex;
    justify-content: center;
}

body {
    background: radial-gradient(circle at 0% 0%,
            #844eea 0%,
            #5527f5 50%,
            #041069 80%);
}

.page_container {
    width: 100%;
    height: 100%;

    padding: 32px 16px;
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    padding: 0 32px;
}

.tools {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tools__container {
    width: auto;
    height: auto;

    padding: 4px 24px;
    border-radius: var(--base_border_radius);

    font-size: 1rem;
    font-weight: 700;
    background-color: #d3c4f6;
}

.strategies {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    padding: 32px 0;
}

.block {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    padding: 16px 0;
    gap: var(--base_gap);
}

.block__strategy {
    width: 100%;
    height: 60px;

    background-color: #d3c4f6;
    border-radius: var(--base_border_radius);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.125rem;
    font-weight: 700;
}

.block__actions {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    gap: var(--base_gap);
}

.block__action {
    background-color: rgba(211, 196, 246, 0.65);

    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    color: #6866e1;

    padding: 4px 24px;
    border-radius: var(--base_border_radius);
}
