{% extends 'base_generic.html' %}

{% block title %} Персональная информация {% endblock %} 

{%block styles %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/account_info.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
{% endblock %}

{% block content %}
    <div class="page_container">
        <nav>
            <div class="nav__title">
                Personal information
            </div>
            <div class="nav__item">
                <a href="/">
                    <div class="nav__item-container">
                        <div class="nav__item-title">
                            Back
                            <img src="{% static 'resources/home.svg' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </nav>
        <main>
            В разработке
        </main>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
