{% extends 'base_generic.html' %}

{% block title %} Аналитика {% endblock %} 

{%block styles %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/analytics.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
{% endblock %}

{% block content %}
    <div class="page_container">
        <nav>
            <div class="nav__title">
                Analytics
            </div>
            <ul class="nav__list">
                <li class="nav__item">
                    <div class="nav__item-container">
                        <div class="nav__item-title">
                            Dashboards
                        </div>
                        <div class="nav__item-open">
                            v
                        </div>
                    </div>
                    <ul class="subnav__list">
                        <li class="subnav__item">
                            <input type="text" placeholder="All in one" class="subnav__item-input" id="all_in_one">
                        </li>
                        <li class="subnav__item">
                            <input type="text" placeholder="Networking" class="subnav__item-input" id="networking">
                            <div class="subnav__item-open">
                                v
                            </div>
                        </li>
                        <li class="subnav__item">
                            <input type="text" placeholder="Job Search" class="subnav__item-input" id="job_search">
                            <div class="subnav__item-open">
                                v
                            </div>
                        </li>
                        <li class="subnav__item">
                            <button id="send_data" type="button" class="subnav__item-button">Отправить</button>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="/">
                        <div class="nav__item-container">
                            <div class="nav__item-title">
                                Back
                                <img src="{% static 'resources/home.svg' %}" alt="">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="chart__container">
                <canvas id="Chart" role="img">Your browser does not support the canvas element.</canvas>
            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/analytics.js' %}"></script>
{% endblock %}
