{% extends 'base_generic.html' %}

{% block title %} Goal {% endblock %} 

{%block styles %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/goal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
{% endblock %}

{% block content %}
    <div class="page_container">
        <nav>
            <div class="nav__title">
                Goal
            </div>
            <ul class="nav__list">
                <li class="nav__item">
                    <div class="nav__item-container">
                        <div class="nav__item-title">
                            Location
                        </div>
                    </div>
                </li>
                <li class="nav__item">
                    <div class="nav__item-container">
                        <div class="nav__item-title">
                            Industry
                        </div>
                    </div>
                </li>
                <li class="nav__item">
                    <div class="nav__item-container">
                        <div class="nav__item-title">
                            Position
                        </div>
                    </div>
                </li>
                <li class="nav__item">
                    <div class="nav__item-container">
                        <div class="nav__item-title">
                            People
                        </div>
                        <div class="subnav__item-open">
                            v
                        </div>
                    </div>
                    <ul class="subnav__list">
                        <li class="subnav__item">
                            <div class="subnav__item-title">
                                1st round
                            </div>
                            <div class="subnav__item-open">
                                +
                            </div>
                        </li>
                        <li class="subnav__item">
                            <div class="subnav__item-title">
                                2st round
                            </div>
                            <div class="subnav__item-open">
                                +
                            </div>
                        </li>
                        <li class="subnav__item">
                            <div class="subnav__item-title">
                                3st round
                            </div>
                            <div class="subnav__item-open">
                                +
                            </div>
                        </li>
                        <li class="subnav__item">
                            <div class="subnav__item-title">
                                4st round
                            </div>
                            <div class="subnav__item-open">
                                +
                            </div>
                        </li>
                        <li class="subnav__item">
                            <div class="subnav__item-title">
                                5st round
                            </div>
                            <div class="subnav__item-open">
                                +
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="/">
                        <div class="nav__item-container">
                            <div class="nav__item-title">
                                Back
                                <img src="{% static 'resources/home.svg' %}" alt="">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="main__section">
                <div class="main__block-container">
                    <div class="main__block">
                        <div class="main__block-title">
                            List of desired companies   
                        </div>
                        <div class="main__block-add">
                            +
                        </div>
                    </div>
                    <div>
                        <input type="text" name="" id="company" placeholder="Company" class="main__block-fields">
                    </div>
                </div>
                <div class="main__block-container">
                    <div class="main__block">
                        <div class="main__block-title">
                            Do you know anyone who could potentially help you with referrals to companies?    
                        </div>
                        <div class="main__block-add">
                            +
                        </div>
                    </div>
                    <div>
                        <input type="text" name="" id="name" placeholder="Name" class="main__block-fields">
                    </div>
                </div>
                <div class="main__block-container">
                    <div class="main__block">
                        <div class="main__block-title">
                            List of undesirable companies
                        </div>
                        <div class="main__block-add">
                            +
                        </div>
                    </div>
                    <div>
                        <input type="text" name="" id="link_description" placeholder="Link description" class="main__block-fields">
                    </div>
                </div>
                <div>
                    <button id="send_goal">Отправить</button>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/goal.js' %}"></script>
{% endblock %}
