{% extends 'base_generic.html' %}
{% block title %}
  Trackers
{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/trackers.css' %}" />
{% endblock %}
{% block content %}
  <div class="page_container">
    <header class="header">
      <div class="header__title">Trackers</div>
    </header>
    <main>
      <div class="columns__container">
        <div class="column">
          <div class="column__title">Gaols</div>
          <div class="column__items">
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
          </div>
        </div>
        <div class="column">
          <div class="column__title">Names</div>
          <div class="column__items">
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
          </div>
        </div>
        <div class="column">
          <div class="column__title">Company</div>
          <div class="column__items">
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
          </div>
        </div>
        <div class="column">
          <div class="column__title">Referral</div>
          <div class="column__items">
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
          </div>
        </div>
        <div class="column">
          <div class="column__title">Date</div>
          <div class="column__items">
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
          </div>
        </div>
        <div class="column">
          <div class="column__title">Interview</div>
          <div class="column__items">
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
            <div class="column__item">Approval</div>
          </div>
        </div>
        <div class="column">
          <div class="column__title">Call</div>
          <div class="column__items">
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
            <div class="column__item">Correct</div>
          </div>
        </div>
        <div class="column">
          <div class="column__title">Meeting</div>
          <div class="column__items">
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
            <div class="column__item">Decline</div>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
