{% extends 'base_generic.html' %}
{% block title %}
Trackers
{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/trackers.css' %}" />
<link rel="stylesheet" href="{% static 'css/tools.css' %}" />
{% endblock %}
{% block content %}
<div class="page_container">
    <header class="header" style="gap: 32px;">
        <div class="header__title">Trackers</div>
        <div class="tools">
            <div class="tools__container">
                <img src="{% static 'resources/ai.svg' %}" alt="">
                <div class="tools__title">
                    AI Tools
                </div>
            </div>
        </div>
    </header>
    <main>
      <div class="columns__container">
        {% for key, values in data.items %}
          <div class="column">
            <div class="column__title">{{ key|title }}</div>
            <div class="column__items">
              {% for value in values %}
                <div class="column__item">{{ value }}</div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
</div>
{% endblock %}